<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PR Live Server</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <h1>Create live servers of PRs.</h1>
    <h2>Create new server:</h2>
    <form action="./create" method="post">
        <label for="remote_url">
            <span>Remote Url</span>
            <input type="text" name="remote_url" id="remote_url">
        </label>
        <label for="remote_branch_name">
            <span>Remote branch name</span>
            <input type="text" name="remote_branch_name" id="remote_branch_name">
        </label>
        <button type="submit">Start server</button>
    </form>

    <h2>List of servers:</h2>
     
</body>
</html>